!!!
%html{:lang => :zh}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}

    %title rails engine: dd_cms
    = csrf_meta_tags
    = stylesheet_link_tag 'dd_cms/application', :media => 'screen'
    = javascript_include_tag 'dd_cms/application'

  %body
    = yield